.ellipse {
  mix-blend-mode: screen;
  pointer-events: none;
  filter: blur(2px);
}

.icon-wrapper {
  will-change: transform;
  backface-visibility: hidden;
  opacity: 0;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply antialiased text-fluid-base;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ellipse-wrapper {
  opacity: 0;
}