.ellipse {
  mix-blend-mode: screen;
  filter: blur(2px);
}

.icon-wrapper {
  will-change: transform;
  backface-visibility: hidden;
  opacity: 0;
  transform-style: preserve-3d;
}

.ellipse-wrapper {
  opacity: 0;
  will-change: transform, opacity;
}